@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

a {
  text-decoration: none;
  /* user-drag: none; */
  user-select: none;
  -webkit-user-drag: none;
  -ms-user-select: none;
}
img {
  /* user-drag: none; */
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.logo img {
  border: #000000 solid 2px;
  width: 22%;
  margin-top: 20px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 300px; 
  box-shadow: #0d0d0d 0px 0px 10px, /* First shadow */ #000000 0px 0px 15px,
    /* Second shadow */ #000000 0px 0px 50px; /* Third shadow */
}

.linkbutton {
  font-family: "Lilita One", sans-serif;
  font-style: bold;
  letter-spacing: 3px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.829);
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 1.65rem;
  white-space: nowrap;
  width: 350px;
  height: 60px;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 20px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: flex; /* Use flexbox to align the icon and text */
  align-items: center; /* Center items vertically */
  transition: transform 0.2s ease-in-out;
  margin-bottom: 30px;
}

.linkbutton:before {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  content: "";
  background: linear-gradient(
    45deg,
    #6d2323,
    #df4a4a,
    /* #fffb00, */ /* #48ff00, */ /* #7a00ff, */ #ff0000,
    #ff0707
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(15px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-linkbutton 50s linear infinite;
  border-radius: 20px;
}

@keyframes glowing-linkbutton {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.linkbutton:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(221, 84, 84, 0.473);
  left: 0;
  top: 0;
  border-radius: 20px;
}

.linkbutton:hover {
  transform: scale(110%);
}

.linkbutton:active {
  transform: translateY(-2px);
  background-color: #222; /* Darken the background */
  transition: transform 0.08s ease-in-out; /* Faster transition for active state */
}

.button-icon {
  border-radius: 5%;
  width: 50px;
  margin-left: -40px;
  margin-right: 25%;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Adjust this for vertical spacing */
  align-items: center; /* Center items horizontally */
  margin-top: 340px; /* Adjust this margin if needed */
}

/* POP UP */
.modal-window {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal-window::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal-window > div {
  transition: opacity 1s ease-in-out, background-image 1s ease-in-out;
  box-shadow: 0 2px 16px rgba(2, 0, 0, 0.8);
  background-size: cover;
  backdrop-filter: blur(150px);

  background-position: center;
  width: 400px;
  position: relative; /* Changed from absolute to relative */
  padding: 2em;
}

.modal-window header {
  font-weight: bold;
}

.modal-window h1 {
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  text-shadow: 0 0px 6px rgb(255, 255, 255);
  text-shadow: 0 0px 12px rgb(255, 255, 255);
  text-shadow: 0 0px 18px rgb(255, 255, 255);
  color: #fff;
  margin-top: 10px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 150%;
}

.modal-window {
  & > div {
    width: 550px;
    height: 350px;
    border-radius: 1rem;
  }
}
.modal-window .buttons {
  margin-top: 25px; /* Adjust this margin if needed */
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  &:hover {
    transition-duration: 0.2s;
    color: black;
  }
}

/* Media Query for Tablets and Smaller Screens */
@media only screen and (max-width: 800px) {
  .logo img {
    width: 30%;
  }

  .buttons {
    margin-top: 10%;
  }

  .linkbutton {
    font-size: 1rem; /* Further decrease font size for smaller screens */
  }

  .button-icon {
    margin-left: -30px;
  }

  .modal-window > div {
    width: 90%; /* Further adjust modal width for tablets */
    max-width: none; /* Remove maximum width restriction */
    height: 60vh; /* Adjust height for smaller screens */
  }
}

/* Media Query for Phones and Smaller Screens */
@media only screen and (max-width: 560px) {
  .logo img {
    width: 45%; /* Ensure logo spans full width */
  }

  .buttons {
    margin-top: 40%;
  }

  .linkbutton {
    width: 120%;
    margin: 15px;
    font-size: 1.2rem; /* Decrease font size for phones */
    /* width: 100%; */
  }
  .button-icon {
    margin-left: 0px;
  }

  .modal-window > div {
    white-space: nowrap;
    width: 95%; /* Adjust modal width for phones */
    height: 50vh; /* Adjust height for phones */
  }

  .modal-window .buttons {
    margin-top: 5%;
    .linkbutton {
      margin: 3%;
    }
  }

  .modal-close {
    font-size: 70%; /* Adjust close button size for phones */
    width: 50px;
    height: 50px;
  }
}
@media only screen and (max-width: 450px) {
  .logo img {
    width: 50%; /* Ensure logo spans full width */
  }
}

@media only screen and (max-height: 550px) {
  .logo img {
    margin-top: 30px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
    width: 25%; /* Ensure logo spans full width */
  }

  .linkbutton {
    width: 100%;
    margin: 15px;
    font-size: 1.2rem; /* Decrease font size for phones */
    /* width: 100%; */
  }
  .button-icon {
    margin-left: 0px;
  }

  .buttons {
    margin-top: 25%;
  }
}
